{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}
    {{feed}}
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href=" {% static '/styl.css' %} ">
  <link rel="stylesheet" type="text/css" href=" {% static '/togglebutton.css' %} ">
</head>

<body>
  <h1 class="title d-flex justify-content-md-center active">News.io </h1>
  <ul class="nav d-flex p-2 justify-content-md-center active">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'read_later' %}">Saved News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">Register</a>
    </li>
    {% endif %}
    <li>
      <div class="toggle-container"></div>
      <label class="switch">
        <input onclick="toggleDarkMode()" type="checkbox">
        <span class="slider round"></span>
      </label>
      </div>
    </li>
  </ul>
  <hr />
  {% if user.is_authenticated %}
  {% if category %}
  <form class="form-search " action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <div class="container-c d-flex justify-content-md-center active ">
      <div class="category">
        <label for="category">Select a category:</label> <br>
        <select class="mx-2" name="category" id="category">
          {% for c in category %}
          <option value="{{ c.name }}">{{ c.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="category">
        <label for="input">From:</label><br>
        <input type="date" name="fromDate" id="fromDate">
      </div>
      <div class="category">
        <label for="input">To:</label><br>
        <input type="date" name="toDate" id="toDate">
      </div>
    </div>
    <div class="my-3 d-flex justify-content-md-center active category">
      <input type="text" name="inTitle" id="inTitle" placeholder="Search for news...">
      <input type="submit" class="btn btn-primary mx-2" value="Search">
    </div>
  </form>
  {% endif %}

  {% endif %}
  {% if results.paginator.num_pages%}
  <div class="d-flex p-2 justify-content-md-center active">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if results.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ results.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        <li class="page-number">
          Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </li>
        {% if results.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ results.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
  <section class="section-articles p-2 justify-content-md-center active">
    {% for article in results %}
    {% if article.urlimage %}
    <div class="article">
      <h2>{{ article.title }}</h2>
      <div class="article-container">
        <img src="{{ article.urlimage }}" alt="">
        <div>
          <p>{{ article.description }}</p>
          <div class="d-flex justify-content-md-center active">
            <a class="button-31" href="{{ article.url }}">View More</a>
            {% if user.is_authenticated %}
            <input class="button-save" id="btn_of_{{article.url}}"
              onclick="save(`{{ article.url }}`, `{{ article.title }}`, `{{ article.description }}`, `{{ article.urlimage }}`)"
              type="button" value="Save for later">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
  </section>
  {% block body %}
  {% endblock %}

  <!-- JavaScript -->
  <script>
    function toggleDarkMode() {
      document.body.classList.toggle('dark-mode');
    }
    function saveDarkModePreference() {
      localStorage.setItem('darkMode', document.body.classList.contains('dark-mode'));
    }

    function loadDarkModePreference() {
      const isDarkMode = localStorage.getItem('darkMode') === 'true';
      if (isDarkMode) {
        document.body.classList.add('dark-mode');
      }
    }

    loadDarkModePreference();

    // Atualize a preferência do modo escuro quando o usuário altera o modo
    document.body.addEventListener('click', () => {
      saveDarkModePreference();
    });
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length == 2) return parts.pop().split(';').shift();
    }


    function save(url, title, description, image_url) {
      console.log(url, title, description, image_url);

      var btn = document.getElementById(`btn_of_${url}`)
      document.body.classList.toggle('dark-mode');
      if (btn.value === 'Save for later') {
        btn.value = 'Saved';
      } else {
        btn.value = 'Save for later';
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/saved/', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
      xhr.send(JSON.stringify({
        'url': url,
        'title': title,
        'description': description,
        'image_url': image_url
      }));
    }
  </script>
  <!-- JavaScript -->

</body>

</html>